<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
    <style>
        textarea {width: 100%;}
        .forum {margin: 80px; border: none; }
        .pergunta {border: dotted 2px; margin: 3px; padding: 3px; }
        .resposta {border-top: dashed 2px; padding: 3px 3px 3px 40px; margin-top: 5px;}
    </style>
    <script data-main="/static/pergunta.js" src="/static/require-jquery.js"></script>
    <script type="text/javascript">
        requirejs.config({
            paths:{
                "text" : "/static/text",
            },
            config : {
                'pergunta' : {
                    'perguntaContainerSelector' : "#pergunta_container",
                    'perguntaBotaoSelector' : "#pergunta_botao",
                    'perguntaListarUrl' : "{{ pergunta_listar_url }}",
                    'perguntaUrl' : "{{ pergunta_url }}"
                },
                'resposta' : {
                    'respostaUrl' : "{{ resposta_url }}/",
                    'respostaListarUrl' : "{{ resposta_listar_url }}/"
                }
            }
        });


    </script>
</head>
<body>
    <div class="forum" >
        <h1>Fórum</h1>
        <h2>Formulário de Pergunta</h2>
        <label >Pergunta:</label><textarea id="pergunta_txt" ></textarea>
        <div>
            <button id="pergunta_botao" >Salvar</button>
        </div>
        <div id="pergunta_container" ></div>
    </div>
</body>
</html>